@font-face {
  font-family: 'Retrograde-Regular';
  src: url('./Assets/Retrograde-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Retrograde-Regular', sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  width: 480px;
  height: 570px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
}


.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.encouragement-text {
  font-size: 20px;
  color: #b76985;
  position: absolute;
  margin-top: 355px;
  animation: fadeIn 1s ease-in-out;
  transition: opacity 0.8s ease;
  background: #fff;
  border: 2px solid #0000001f;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
}

.encouragement-text.hidden {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.home-controls {
  display: flex;
  justify-content: center;
  margin: 0;
}

.image-button {
  background: none;
  border: none;
  cursor: pointer;
}

.image-button img {
  width: 100px;
}

.home-timer {
  position: absolute;
  font-size: 48px;
  color: #8b4a62;
  margin-top: 400px;
}

.gif-image {
  height:100px;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
}

.home-button img {
  width: 60px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 24px;
  height: 24px;
}